/* EX EMAIL */

.split {
    height: 100vh;
    width: 50%;
    padding: 50px;
}

.split-left {
    background-color: #FFF5A3;
}

.split-left button {
    background-color: #1B4D42;
}

.split-right {
    background-color: #1B4D42;
}

/* EX DICE */

.face {
    height: 200px;
    width: 200px;
    border-radius: 5%;
    margin: 0 auto;
}

.dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    border: 10px solid blue;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.bg-red .dot {
    border: 10px solid red;
}
